* {
    margin: 0;
    margin-top: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    max-width: 100vw;
    min-height: 100vh;
}
header {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    
}
ul li {
    margin: 0 auto;
    padding: 12px 4px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    justify-content: center;
}
a {
    color: white;
    text-decoration: none;    
}
ul li a:hover{
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}

header h1 {
    font-size: 10px;
    text-align: center;
    justify-content: center;
}
header img {
    float: left;
    width: 120px;
  height: 50px;
  box-sizing: border-box;

}
image{
    width: 100%;
    height: 100%;
    box-sizing: border-box;   
}

#about {
    text-align: center;
    padding: 10px;
    justify-content: center;
}

#about img {
    max-width: 300px;
    border-radius: 50%;
}
hr {
    width: 50%;
    color: black solid;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid black;
}

#skills {
    text-align: center;
    padding: 10px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#skills li {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: orange;
    border-radius: 4px;
}
#portfolio {
    text-align: center;
    padding: 10px;
    justify-content: center;
}
#contact {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

